body {

    font-family: "Arial"
}


#title {
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 15%;
    background-color: #13003F;
    
   }


  .logo{
    
    width:7%;
    margin-right: 5px;
  }

   .navbar {
    padding-bottom: 3rem;
}

   .navbar-brand{

    font-size: 1.5rem;
    font-family: "Arial";
   
    
   }

  
   .nav-link {
font-size:1rem;
font-family: "Arial";
text-decoration: none;
color:white;

   }

   .download-button{
    margin: 20% 3% 20% 0%;
    
    
}

.headertext
{
    margin-top:20px;
    color: white;
    font-size: 2.5rem;
    line-height: 2;
    font-family: Arial;
    font-weight: bold;
}

.secondheader {
    margin-top:70px;
    color: white;
    font-size: 1.5rem;
    line-height: 2;
    font-family: Arial;
}


.headertext2
{
    margin-top:30px;
    color: white;
    font-size: 2.5rem;
    line-height: 2;
    font-family: Arial;
}




.title-image{
    
    width: 60%;
    margin-left:20px;
    
}




/*- Features Section */

#features{
    
    background-color: #13003F;
    font-family: 'Arial';

    color:white;

        }

.feature-box {
    text-align:center;
    padding: 5%;

}

.icon{

    color: white;
    margin-bottom: 1rem;


    }

.icon:hover {
 color: #cef4ab;

}